body {
    
   }

   .size-page {
    max-width: 1401px;
    font-size: 18px;
    margin: 0 auto;
    font-family: sans-serif;
   }

.header {
    display: flex;
    
    align-items: flex-start;
    gap: 7px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    height: 80px;
}

.header__name {
    display: inline;
}

.header__name_colored {
    color: #f52;
}

.glav-blok {
    font-size: 18px;
    max-width: 1401px;
    margin: 0 auto;
    font-family: sans-serif;
}

a {
    color:#018ad2;
    text-decoration: none;
 }
 
a:hover  {
    color:#F36223
}

a:active  {
    color: #A93A09 
}


button  {
    padding: 8px 12px;
    border: 1px solid black;
    border-radius: 4px;
    background: white;
    cursor: pointer;
}



p {
    font-size: 16px;
}

table{
    border-spacing: 0px;
    border-collapse: collapse;
  }

td {
    border-bottom: 0;
    border-top: 0;
}

tr:hover {
    background: #F2F2F2;
}

.background-none:hover {
    background:none;
}

th,
td {
    padding: 10px;
    font-size: 16px;
}

th {
    justify-content: center;
}

.table-model {
    width: 876px;
}

.Kroshki {
    display: flex;
    align-items: center;
    padding: 8px 0px;
    gap: 4px;
}

.zagolovok1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 20px;
    gap: 10px;
    font-size: 32px;
}

.blok1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.zagolovok {
    padding: 0px;
    font-size: 16px;
}

.review-bloc__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;

}

.review-bloc__wrapper {
    display: flex;
    gap: 10px;
}

.review-bloc__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;

}

.review-bloc__count {
    font-weight: 700;
    font-size: 24px;
    color: #888888;
}


.review-all{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}


.review-img {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 50%;
}



.review {
    display: flex;
    gap: 30px;
}

.review-content {
    justify-content:center;
    padding: 0px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.review-content__header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review-content__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}
.review-content__header_name {
    font-size: 20px;
}

.review-content__star {
    padding: 0px;
    width: 150px;
}
.review-content__text_size14 {
    font-size: 14px;
}

.line {
    box-sizing: border-box;
    border: 1px dashed #888888;
    align-self: stretch;

}

h1 {
    width: 400px;
    height: 53px;
    font-size: 50px;
}

iframe {
    border: 1px dashed rgb(229, 224, 224)
}

.square-image {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border: 1px solid #888888;
    border-radius: 4px;
    box-sizing: border-box;
}

.characteric__list {
    display: flex;
    gap: 10px;
}
.square-image__image {
    height: 60px;
}

.characteric__name {
    margin: 0;
    margin-bottom: 15px;
    
    font-size: 16px;
    font-weight: 700;
   }

   .model {
    margin-bottom: 15px;
   }
 
.modelsquare-image {
   
    height: 387px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
   
    
   }
.model__list {
    display: flex;
    gap: 10px;
    
}
.modelsquare-image__image {
    height: 387px;
}

   .characteric {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 100px;
    margin-bottom: 60px;

   }
   
   .characteric_memory_name {
    font-size: 16px;
   }
   
   
   .characteric_memory {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

   }

   

   .main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    flex-grow: 1;
   }

   .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 0px 0px 15px;
    gap: 10px;
   }

   ul {
    padding: 0;
    font-size: 16px;
	
    
   }

   li {
    margin-bottom: 10px;
   }

   .paragraf {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 15px;
   }
   p {
    margin: 0;
   }
   

   .blok-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 0px 170px;
    gap: 0px;
    margin-bottom: 100px;
   
   }


    input {
        padding:15px 20px;
        border: 1px solid #888888;
    }
    
    input:focus,
    input:hover {
        border: 1px solid black;
    }

    textarea {
        border: 1px solid #888888;
    }

    textarea:focus,
    textarea:hover {
        border: 1px solid black;
    }

    .blok-form__line-first {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 40px;
        margin-bottom: 30px
    }
    .blok-form__name-user {
        width: 495px;
        box-sizing: border-box
    }

    .blok-form__point {
        width: 175px;
        box-sizing: border-box
    }

    
    .blok-form__line-second {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 40px;
        
        
        margin-bottom: 30px
    }

    .blok-form__review-text {
        padding: 15px 20px;
        width: 100%;
        height: 190px;
    }

    

    textarea {
        resize: none;
    }


.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    flex-shrink: 0;
    width: 420px;
    
}

.sidebar_box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    
}

.price {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;
}
.price-start {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 228px;
}

.price-start__discont {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
}

.notprise {
width: 66px;
height: 16px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 16px;
text-decoration-line: line-through;
color: #888888;
}

.butdiscont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    width: 31px;
    height: 16px;
    background: #F36223;
    border-radius: 500px; 
    
}


.price-real {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    display: flex;
}

.delivery {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 20px;
gap: 10px;
width: 380px;
height: 68px;
}

.delivery_text {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
}

.discont {
    width: 31px;
    height: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.like {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("./image/like.svg");
    
    background-position:center center;
    background-size: contain;
    cursor: pointer;
}


.button1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #F36223;
    border-radius: 4px;
    align-self: stretch;
    cursor: pointer;
}

.button1__basket::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("./image/basket.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}




.button1__size_l {
    width: 280px;
    height: 24px;
    padding: 20px 49px;
    font-size: 20px;
}

.button1__size_s {
    width: 177px;
    height: 39px;
    padding: 10px 20px;
    font-size: 16px;
}


.button1_text {
    
font-style: normal;
line-height: 24px;
color: #FFFFFF;
}

.ads{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;


}

.ad {
width: 60px;
height: 17px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #888888;
}

.ifr_list {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 15px;
width: 420px;
height: 615px;
}

iframe {
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
width: 420px;
height: 300px;
background: #F0F0F0;
border: 1px dashed #888888;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 50px;
    background: #F2F2F2;

}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    height: 111px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.footer__content_color {
    color:#f52
}

.square-image:hover {
    background-color: #eee;
}

.square-image:focus {
    border: 2px solid #F36223
} 

.square-image:active {
    border: 2px solid #A93A09
}



button:hover {
    background-color: #eee;   
}

button:focus {
    border: 2px solid #F36223
}

button:active {
    border: 2px solid #A93A09
}



.button1:hover {
    background:  #DA4A0C
}

.button1:active {
    background: #A93A09 
}


.like:hover {
    background-image: url("./image/like2.svg");
}

.like:active {
    background-image: url("./image/like1.svg");
}

@media (max-width: 1499px) {

    .delete {
        display: none;
    }
  
    .review-img {
        width: 100px;
        height: 100px;
    }

    .model__list {
        height: 272px;
    }

    .modelsquare-image__image {
        height: 272px;
    }

    .modelsquare-image{
        height: 272px;
    }

    .characteric {
        gap: 40px;

       }
       .review-content__star{
        width: 100px;
        height: 20px;
    }

    .blok-form {
        padding: 0px;
    }
    .ifr_list {
        gap: 10px;
        }

        .size-page {
            max-width: 994px;
            
           }

           .sidebar {
            
            width: 360px;
            
        }

        .ads {
            width: 360px;
        }
        .ifr_list {
            width: 360px;
           
            }
        iframe {
            width: 350px;
                
                }

        .delivery {
                    
            width: 310px;
                    
        }

        .button1__size_l {
            width: 230px;
            padding: 20px 40px;
                
        }
        
        .price-start {
                        
            gap: 150px;
        }

                    
                

}
